.example-card {
    max-width: 400px;
    padding: 10px;
    padding-top: 15px;
}

.padding-custom {
    padding: 25px;
}

.hobby-card {
   padding-bottom: 10px; 
}

.style-1 {
    padding-left: 310px;
    padding-bottom: 10px;
}

.footer{
    background-color:#fff;
    font:bold 14px;
    color:#1E88E5;
    width:100%;
    height:auto;
    padding:1%;
    border-top:1px solid #1E88E5;
    position: fixed;
    bottom: 0;
}

.delete-btn {
    padding-left: 10px;
}