@import '../../styles.scss';

.login-outer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.login-card {
    height: 715px;
    width: 435px;
    background-color: #dfe7e7;
    padding: 40px;
}

.login-header {
    align-items: center;
    justify-content: center;
}

.form-field {
    width: 100px;
}

.field-width {
    width: 430px !important;
}

.form-group {
    padding-top: 10px;
}

.spacing-1 {
    padding-top: 65px;
    padding-left: 310px;
}

.spacing-2 {
    padding-top: 30px;
    padding-left: 60px;
}

.mat-raised-button {
    height: 45px !important;
    width: 120px !important;
}

.mat-card-header-text {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
